<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add an offer</h3>
        <%= simple_form_for [@offer] do |f| %>
          <%= f.input :brand, placeholder: 'Enter a brand' %>
          <%= f.input :model, placeholder: 'Enter a model' %>
          <%= f.input :disc_space, placeholder: 'Enter  disc_space' %>
          <%= f.input :ram, placeholder: 'Enter ram' %>
          <%= f.input :video_card, placeholder: 'Enter a video_card' %>
          <%= f.input :screen_size, placeholder: 'Enter screen_size' %>
          <%= f.input :usage, placeholder: 'Enter usage' %>
          <%= f.input :availability, placeholder: 'Enter availability' %>
          <%= f.input :rate, placeholder: 'Enter rate' %>
          <%= f.submit class: "btn btn-flat" %>
          <>
        <% end %>
      </div>
    </div>
  </div>
</div>
