<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="card-title mb-4"><Strong>Computer Specs </Strong></h1>
          <div class="row">
            <div class="col-md-6">
              <h3><Strong> Brand: </Strong><%= @offer.brand%></h3>
              <h3><Strong> Model: </Strong><%= @offer.model%></h3>
              <h3><Strong> RAM:   </Strong><%= @offer.ram%></h3>
              <h3><Strong> Disk Space:  </Strong><%= @offer.disc_space%></h3>
            </div>
            <div class="col-md-6">
                <h3><Strong> Video Card: </Strong><%= @offer.video_card%></h3>
                <h3><Strong> Screen Size: </Strong><%= @offer.screen_size%></h3>
                <h3><Strong> Usage:  </Strong><%= @offer.usage%> YEARS</h3>
                <h3><Strong> Rate: </Strong>$<%= @offer.rate%>.00 MXN</h3>
            </div>
          </div>
               <hr>
               <h3><Strong> Available: </Strong><%= @offer.availability == 1 ? "Yes" : "No" %></h3>
               <h3><Strong> OWNER: </Strong><%= @offer.user.email %></h3>
                <% if @offer.photo.key != nil %>
                <%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                <%= image_tag 'https://res.cloudinary.com/dkkxkbhih/image/upload/v1678911558/No-Image-Placeholder.svg_tmw0tt.png', height: 200, width: 200, crop: :fill %>
                <% end %>
               <div class="row mt-4">
                <div class="col-md-6" style="margin-top: 25px;">
                  <%= link_to "Return to offers List", offers_path, class: "btn btn-deep-orange custom-button btn-lg btn-block" %>
                </div>
                <div class="col-md-6" style="margin-top: 25px;">
                  <%= link_to "Book this offer", new_offer_booking_path(@offer), class: "btn btn-deep-orange custom-button btn-lg btn-block", style: "margin-bottom: 20px;" %>
                </div>
          <% if user_signed_in? %>
            <% if current_user.id == @offer.user_id %>
              <div class="col-md-4; row justify-content-center"; style="margin-top: 25px;">
                <h2>Bookings for this Offer:</h2>
                <div class="booking-for-offer">
                <hr>
                  <% if @offer.bookings.count > 0 %>
                    <ul>
                      <% @offer.bookings.each do |booking| %>
                        <li>
                          <div>
                            <%= booking.user.email %>
                            <%= link_to "Choose this Booking",select_booking_path(booking),data: {turbo_method: :patch, turbo_confirm: "Are you sure?"} %>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  <% else %>
                    <div style="margin-top: 25px;">
                      <h4><strong>No current offers!</strong></h4>
                    </div>
                  <% end %>
              <hr>
                </div>
              </div>
              <% if current_user.id == @offer.user_id %>
                <div class="col-md-12" style="margin-top: 25px;">
                  <h2><%= link_to "Delete Offer", offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-deep-orange custom-button btn-lg btn-block" %></h2>
                </div>
              <% end %>
            <% end %>
          <% end %>
         </div>
      </div>
   </div>
</div>
