<h1>Displaying </h1>
<h3><%= @offer.brand%></h3>
<h3><%= @offer.model%></h3>
<h3><%= @offer.ram%></h3>


<h2><%= link_to "Return to offers List", offers_path %></h2>
<h2><%= link_to "Book this offer", new_offer_booking_path(@offer) %></h2>
