<!DOCTYPE html>
<html>
  <head>
    <title>ComputerCrib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <the-script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></the-script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom sticky-top" style="background-color: rgb(255, 164, 91, 0.8);">
      <%= link_to "Computer Crib", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Sign out", destroy_user_session_path, data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "nav-link" do %>
                <i class="fa fa-user"></i> Login
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>


    </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer class="py-4" style="margin-top: 25px; background-color: rgba(255, 164, 91, 0.8);">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h4>About ComputerCrib</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod euismod est vel suscipit.</p>
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <p><i class="fa fa-envelope"></i> computer_crib@gmail.com</p>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
